@import "../../../style/core/variables";

.btn {
    position: relative;
    padding: 8px 20px;
    margin-top: 24px;

    color: $GREY_TEXT;
    font-size: 16px;
    font-weight: 600;
    font-family: $MONTSERRAT;
    letter-spacing: 1px;
    text-transform: uppercase;

    cursor: pointer;
    border: 2px solid $GREY_TEXT;
    background: transparent;

    transition: all .2s ease-in-out;

    &.submit-btn {
        width: 150px;
        height: 40px;

    }

    .btn-label {
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 5;
    }

    &:after,
    &:before {
        content: '';
        position: absolute;
        background: rgba($GREY_TEXT, 0);
        left: 0;
        top: 0;
        height: 100%;
        width: 0;
        z-index: 0;
    }

    &:before {
        transition: all .4s ease-in-out .2s;
    }

    &:after {
        transition: all .4s ease-in-out;
    }

    &:hover,
    &.busy {
        color: $GREY_DARK;

        &:after,
        &:before {
            width: 100%;
            background: $GREY_TEXT;
        }

        &:after {
            background: rgba($GREY_TEXT, .6);
        }
    }

    &.icon {
        width: 32px;
        height: 32px;
        padding: 0;

        border:none;
        border-radius: 50%;
        background:none;
        overflow: hidden;

        .btn-label svg {
            transition: all .5s ease-in-out;

            path,
            polygon {
                fill: $SECONDARY;
                transition: all .4s ease-in-out;
            }
        }


        &:after,
        &:before {
            left: 50%;
            top: 50%;
            height: 0;
            width: 0;
            border-radius: 50%;
            background: $GRADIENT_PRIMARY;
        }

        &:hover {
            .btn-label svg {
                path,
                polygon {
                    fill: $GREY_DARK;
                }
            }

            &:after,
            &:before {
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                box-shadow: 0 0 12px -2px #000;
            }
        }

        &:active {
            opacity: .7;
        }
    }
}
