@import "../../../style/core/variables";

.logo {
    position: relative;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: capitalize;

    .logo-o {
        position: relative;

        color: $PRIMARY;
        font-weight: 900;
        padding-left: 26px;

        text-transform: uppercase;

        &:after {
            content: '';

            position: absolute;
            left: 8px;
            top: 50%;

            width: 8px;
            height: 8px;

            border-radius: 50%;
            background: $PRIMARY;

            transform: translateY(-50%);
        }
    }
}
