@import "../../style/core/variables";

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background: $GREY_DARK;
    box-shadow: 0 0 24px -4px #000;

    p {
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        font-family: $MONTSERRAT;
        color: $GREY;
        line-height: 40px;
        text-align: center;
    }
}
