@import "../../style/core/variables";
@import "../../style/utils/functions";
@import "../../style/utils/mixins";

.app-header {
    position: relative;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    padding: 12px;

    color: $GREY_LIGHT;
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: space-between;

    background: $GREY_DARK;
    box-shadow: 0 0 24px -4px #000;
    box-sizing: border-box;

    .logo {
        color: $GREY_TEXT;
        pointer-events: none;
    }

    h3 {
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;
    }
}
