/*!
 * Made with <3 by Kagami | jakub.bujko@kagami.info
 * -----  kagami-info  -----
 *   > $file.filename
 *   > created @ 9/12/18 12:25 AM
 */

// FONTS
$MONTSERRAT: 'Montserrat', Helvetica, Arial, sans-serif;
$OPEN_SANS: 'Open Sans', Helvetica, Arial, sans-serif;

// COLORS
$PRIMARY: #F15025;
$PRIMARY_DARK: #581E0E;
$PRIMARY_LIGHT: #F8AF9B;

$SECONDARY: #DB5461;
$SECONDARY_DARK: #64272D;
$SECONDARY_LIGHT: #EEB1B7;

$GREY: #5D6278;
$GREY_DARK: #1B1E29;
$GREY_TEXT: #FCF7F8;
$GREY_LIGHT: #9396A5;

$SUCCESS: #85CB33;
$ERROR: #E3170A;

