// Global SASS variables

// COLORS
$PRIMARY: #da1c5b;
$PRIMARY_DARK: #760f33;
$PRIMARY_LIGHT: #fe5ea7;
$WHITE: #ffffff;
$BLACK: #000000;
$GREY_PALE: #eeeeee;
$GREY_LIGHT: #c8c7c7;
$GREY_DIM: #6d6d6d;
$GREY_TEXT: #222222;
$GREY_DARK: #0c0c0c;
$TO_CENTER_GRAD: linear-gradient(90deg, #3a2236 0%, #2e2a3c 50%, #3a2236 100%);
$LEFT_RIGHT_GRAD: linear-gradient(90deg, #2e2a3c 0%, #2e2a3c 25%, #3a2236 75%, #3a2236 100%);

// FONTS
$main-font: 'Montserrat', sans-serif;
$second-font: 'Raleway', sans-serif;
