@import "../../style/core/variables";

.add-encounter-form {
    width: 800px;
    height: 100%;

    .contents {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .left,
        .right {
            width: calc(50% - 16px);
            min-height: 300px;
            height: 100%;
        }

        .left {
            align-self: flex-start;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;

            width: 1px;
            height: 100%;
            background: $GREY_MID;

            transform: translate(-50%, -50%);
        }
    }

    .encounter-name {
        padding: 0;
        margin-bottom: 24px;
        border-bottom: 1px solid $GREY;

        input[name='encounter_name'] {
            padding: 8px 0;
            margin-bottom: 4px;

            color: $GREY_LIGHT;
            text-align: left;
            font-size: 16px;

            border-left: 1px solid transparent;
            border-radius: 2px;

            &:focus {
                padding-left: 12px;
            }
        }
    }

    .encounter-campaign {
        margin-top: 16px;

        .rw-dropdown-list-input {
            padding-left: 88px;
        }
    }

    .encounter-characters {
        h3 {
            color: $GREY_LIGHT;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
        }

        .character-info {
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: space-between;

            .meta {
                font-size: 13px;
                color: $GREY_LIGHT;

                &:before {
                    display: none;
                }

                span {
                    font-weight: 700;
                    font-size: 13px
                }
            }

            .stats {
                width: 40%;

                display: flex;
                align-items: center;
                justify-content: space-around;

                .row {
                    width: 64px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    svg {
                        height: 32px;
                        width: 32px;

                        & > * {
                            fill: $GREY_MID;
                        }
                    }

                    span {
                        color: $GREY_LIGHT;
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
            }
        }

    }

    .new-member-list {
        max-height: 300px;
        padding: 8px 0 16px;

        overflow-y: scroll;

        .member {
            position: relative;
            display: block;

            width: 100%;
            padding: 8px;
            margin: 8px auto;
            background: $GREY_MID;

            .top,
            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }


            .member-input-name {
                width: 100%;

                margin-bottom: 8px;

                input {
                    position: relative;
                    border-bottom: 1px solid $GREY;
                    font-size: 16px;
                    font-weight: 600;

                    &:focus,
                    &:hover,
                    &:active {
                        color: $GREY_TEXT;
                        border-color: $GREY_LIGHT;
                    }
                }
            }

            input {
                width: 100%;
                height: 100%;
                padding: 8px 0;

                font-size: 14px;
                font-weight: 500;
                color: $GREY_LIGHT;
                text-align: center;
                letter-spacing: .5px;
                font-family: $OPEN_SANS;

                background: transparent;
                transition: all .3s ease-in-out;
            }

            .number-picker {
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: 32px;
                    height: 32px;

                    path {
                        fill: $GREY_DARK;
                    }
                }

                &:first-of-type svg {
                    width: 28px;
                    height: 28px;
                }

                & > div {
                    width: 80%;
                    height: 100%;
                    margin: 0;
                    padding: 0;

                    &.member-input-roll {
                        width: calc(100% - 40px);

                        box-sizing: border-box;

                        &.rw-state-focus {
                            .rw-widget-picker {
                                box-shadow: none;
                            }
                        }

                        .rw-widget-picker {
                            height: 100%;
                            border: none;
                            background: none;
                            display: flex;

                            input {
                                padding: 0;
                                margin: 0;
                                width: calc(100% - 28px);

                                color: $GREY;
                                text-align: center;
                                font-weight: 800;
                                font-size: 20px;

                                background: none;
                                transform: translateY(-2px);

                                &:focus,
                                &:active {
                                    color: $GREY_TEXT;
                                    outline: none;
                                    box-shadow: none !important;
                                }
                            }

                            span {
                                position: absolute;
                                right: 0;
                                top: 0;
                                width: 32px;
                                height: 100%;
                                display: flex;
                                border: none;
                                flex-direction: column;
                                align-items: center;
                                justify-content: space-around;

                                &:hover {
                                    background: none;
                                }

                                button {
                                    width: 0;
                                    height: 0;
                                    margin: 0;
                                    padding: 0;
                                    background: none;
                                    border-style: solid;
                                    border-width: 0 5px 10px 5px;
                                    border-color: transparent transparent $GREY_LIGHT transparent;

                                    span {
                                        display: none;
                                    }

                                    &:nth-of-type(2) {
                                        border-width: 10px 5px 0 5px;
                                        border-color: $GREY_LIGHT transparent transparent transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .close-btn {
                position: absolute;
                top: 12px;
                right: 12px;

                width: 24px;
                height: 24px;

                cursor: pointer;
                z-index: 2;

                &:after,
                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;

                    height: 4px;
                    width: 100%;
                    margin-top: -2px;

                    background: $GREY_DARK;
                    transition: all .3s ease-in-out;
                }

                &:after {
                    transform: rotate(-45deg);
                }

                &:before {
                    transform: rotate(45deg);
                }

                &:hover {
                    &:after,
                    &:before {
                        background: $SECONDARY;
                    }
                }
            }
        }
    }
    .add-new {
        padding: 8px 0;
        border-bottom: 1px solid $GREY_LIGHT;

        button {
            display: block;

            width: auto;
            height: 32px;
            margin: auto;

            color: $GREY_LIGHT;
            text-transform: capitalize;

            //border-style: dashed;
            //border-color: $GREY_LIGHT;
            //border-width: 1px;

            opacity: .5;

            //&:after,
            //&:before {
            //    display: none;
            //}

            &:hover,
            &:active {
                opacity: 1;
                color: $GREY_DARK;
            }
        }
    }
}
