@import "../../style/core/variables";

.sidebar {
    width: 280px;
    height: 100%;
    padding: 24px;

    background: $GREY;
    color: $GREY_DARK;
    box-shadow: 0 0 20px -5px #000;

    transition: all .3s ease-in-out;
    margin-left: -280px;
    box-sizing: border-box;

    &.active {
        margin-left: 0;
    }
}
