@import "../../../style/core/variables";

.active-encounter {
    position: absolute;
    top: 80px;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: calc(100% - 80px);

    background: $GREY_DARK;
    z-index: 20;

    & > div {
        width: 50%;

        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
