@import "../../../style/core/variables";

.input-container {
    position: relative;

    display: flex;
    flex-direction: column;

    color: $GREY_TEXT;

    width: 100%;
    margin-top: 32px;
    background-color: transparent;
    box-shadow: 0 0 16px -4px $GREY_DARK;
    //border: 2px solid $GREY_DARK;

    .error {
        position: absolute;
        font-size: 11px;
        line-height: 14px;
        text-align: center;
        top: -36px;
    }

    label {
        position: absolute;
        top: -16px;
        left: 0;

        color: $GREY_LIGHT;
        font-size: 12px;
        font-weight: 800;
        text-transform: uppercase;
    }

    input {
        padding: 12px;

        font-size: 14px;
        font-weight: 500;
        color: $PRIMARY_LIGHT;
        text-align: center;
        letter-spacing: .5px;
        font-family: $OPEN_SANS;

        background: transparent;
        transition: all .3s ease-in-out;

        &:focus,
        &:active {
            background: $GREY_TEXT;
            color: $GREY_DARK;
        }

        &::placeholder {
            color: $GREY_MID;
        }

    }

    .show-password-btn {
        position: absolute;
        bottom: -18px;
        right: 0;

        color: $PRIMARY_LIGHT;
        font-size: 10px;
        font-weight: 200;
        text-transform: capitalize;

        cursor: pointer;
        padding: 1px 2px;
        border: none;
        border-bottom: 2px solid rgba($GREY_TEXT, 0);
        background: transparent;

        transition: all .3s ease-in-out;

        &:hover {
            color: $GREY_TEXT;
            border-bottom: 2px solid $GREY_TEXT;
        }
    }
}
